@model LoanInput

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div class="row">
    <div class="col-4">
        
        <form id="userInput" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoanAmount"></label>
                <input type="number" class="form-control" asp-for="LoanAmount">
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RateOfInterest"></label>
                <input type="number" class="form-control" asp-for="RateOfInterest">
                <span asp-validation-for="RateOfInterest" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NoOfInstallments"></label>
                <input type="number" class="form-control" asp-for="NoOfInstallments">
                <span asp-validation-for="NoOfInstallments" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MonthlyRateOfInterest"></label>
                <input type="number" class="form-control w-75" disabled asp-for="MonthlyRateOfInterest">
                <span asp-validation-for="MonthlyRateOfInterest" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="emi"></label>
                <input type="number" class="form-control w-75" disabled asp-for="emi">
                <span asp-validation-for="emi" class="text-danger"></span>
            </div>
            <button type="button" id="getDetailsBtn" class="btn btn-primary">Get Details</button>
            <button id="postBackButton" type="submit" disabled class="btn btn-success">Save To Database</button>

        </form>
        
    </div>

    <div class="col">
        <!--
        <table id="loanSummaryTable" class="displayNone table table-responsive-lg">
            <tr class="bg-primary text-white font-weight-bold">
                <td colspan="2">
                    Loan Summary
                </td>
            </tr>
            <tr>
                <td scope="col" class="colWidth">Monthly Rate Of Interest</td>
                <td scope="col" class="tdBg">1</td>
            </tr>
            <tr>
                <td scope="col" class="colWidth">EMI</td>
                <td scope="col" class="tdBg">1</td>
            </tr>

        </table>
            -->
        
        <table id="loanTransactionsTable" class="displayNone table table-sm table-bordered">
            <tr class="bg-dark text-white">
                <th style="width:10px">Installment</th>
                <th>Opening</th>
                <th>Principal</th>
                <th>Interest</th>
                <th>EMI</th>
                <th>Closing</th>
                <th>Cummulative Interest</th>
            </tr>
        </table>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/index.js" defer></script>
}